@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldItSubh.eot');
    src: local('Adobe Jenson Pro Bold Italic Subhead'), local('AJensonPro-BoldItSubh'),
        url('AJensonPro-BoldItSubh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldItSubh.woff2') format('woff2'),
        url('AJensonPro-BoldItSubh.woff') format('woff'),
        url('AJensonPro-BoldItSubh.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Bold.eot');
    src: local('Adobe Jenson Pro Bold'), local('AJensonPro-Bold'),
        url('AJensonPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Bold.woff2') format('woff2'),
        url('AJensonPro-Bold.woff') format('woff'),
        url('AJensonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldCapt.eot');
    src: local('Adobe Jenson Pro Bold Caption'), local('AJensonPro-BoldCapt'),
        url('AJensonPro-BoldCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldCapt.woff2') format('woff2'),
        url('AJensonPro-BoldCapt.woff') format('woff'),
        url('AJensonPro-BoldCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldItDisp.eot');
    src: local('Adobe Jenson Pro Bold Italic Display'), local('AJensonPro-BoldItDisp'),
        url('AJensonPro-BoldItDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldItDisp.woff2') format('woff2'),
        url('AJensonPro-BoldItDisp.woff') format('woff'),
        url('AJensonPro-BoldItDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldSubh.eot');
    src: local('Adobe Jenson Pro Bold Subhead'), local('AJensonPro-BoldSubh'),
        url('AJensonPro-BoldSubh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldSubh.woff2') format('woff2'),
        url('AJensonPro-BoldSubh.woff') format('woff'),
        url('AJensonPro-BoldSubh.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-It.eot');
    src: local('Adobe Jenson Pro Italic'), local('AJensonPro-It'),
        url('AJensonPro-It.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-It.woff2') format('woff2'),
        url('AJensonPro-It.woff') format('woff'),
        url('AJensonPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-ItCapt.eot');
    src: local('Adobe Jenson Pro Italic Caption'), local('AJensonPro-ItCapt'),
        url('AJensonPro-ItCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-ItCapt.woff2') format('woff2'),
        url('AJensonPro-ItCapt.woff') format('woff'),
        url('AJensonPro-ItCapt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldIt.eot');
    src: local('Adobe Jenson Pro Bold Italic'), local('AJensonPro-BoldIt'),
        url('AJensonPro-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldIt.woff2') format('woff2'),
        url('AJensonPro-BoldIt.woff') format('woff'),
        url('AJensonPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-ItDisp.eot');
    src: local('Adobe Jenson Pro Italic Display'), local('AJensonPro-ItDisp'),
        url('AJensonPro-ItDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-ItDisp.woff2') format('woff2'),
        url('AJensonPro-ItDisp.woff') format('woff'),
        url('AJensonPro-ItDisp.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Capt.eot');
    src: local('Adobe Jenson Pro Caption'), local('AJensonPro-Capt'),
        url('AJensonPro-Capt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Capt.woff2') format('woff2'),
        url('AJensonPro-Capt.woff') format('woff'),
        url('AJensonPro-Capt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Disp.eot');
    src: local('Adobe Jenson Pro Display'), local('AJensonPro-Disp'),
        url('AJensonPro-Disp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Disp.woff2') format('woff2'),
        url('AJensonPro-Disp.woff') format('woff'),
        url('AJensonPro-Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldDisp.eot');
    src: local('Adobe Jenson Pro Bold Display'), local('AJensonPro-BoldDisp'),
        url('AJensonPro-BoldDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldDisp.woff2') format('woff2'),
        url('AJensonPro-BoldDisp.woff') format('woff'),
        url('AJensonPro-BoldDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-BoldItCapt.eot');
    src: local('Adobe Jenson Pro Bold Italic Caption'), local('AJensonPro-BoldItCapt'),
        url('AJensonPro-BoldItCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-BoldItCapt.woff2') format('woff2'),
        url('AJensonPro-BoldItCapt.woff') format('woff'),
        url('AJensonPro-BoldItCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-SemiboldDisp.eot');
    src: local('Adobe Jenson Pro Semibold Display'), local('AJensonPro-SemiboldDisp'),
        url('AJensonPro-SemiboldDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-SemiboldDisp.woff2') format('woff2'),
        url('AJensonPro-SemiboldDisp.woff') format('woff'),
        url('AJensonPro-SemiboldDisp.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Regular.eot');
    src: local('Adobe Jenson Pro Regular'), local('AJensonPro-Regular'),
        url('AJensonPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Regular.woff2') format('woff2'),
        url('AJensonPro-Regular.woff') format('woff'),
        url('AJensonPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtItCapt.eot');
    src: local('Adobe Jenson Pro Light Italic Caption'), local('AJensonPro-LtItCapt'),
        url('AJensonPro-LtItCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtItCapt.woff2') format('woff2'),
        url('AJensonPro-LtItCapt.woff') format('woff'),
        url('AJensonPro-LtItCapt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-SemiboldIt.eot');
    src: local('Adobe Jenson Pro Semibold Italic'), local('AJensonPro-SemiboldIt'),
        url('AJensonPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-SemiboldIt.woff2') format('woff2'),
        url('AJensonPro-SemiboldIt.woff') format('woff'),
        url('AJensonPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtCapt.eot');
    src: local('Adobe Jenson Pro Light Caption'), local('AJensonPro-LtCapt'),
        url('AJensonPro-LtCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtCapt.woff2') format('woff2'),
        url('AJensonPro-LtCapt.woff') format('woff'),
        url('AJensonPro-LtCapt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Lt.eot');
    src: local('Adobe Jenson Pro Light'), local('AJensonPro-Lt'),
        url('AJensonPro-Lt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Lt.woff2') format('woff2'),
        url('AJensonPro-Lt.woff') format('woff'),
        url('AJensonPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtDisp.eot');
    src: local('Adobe Jenson Pro Light Display'), local('AJensonPro-LtDisp'),
        url('AJensonPro-LtDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtDisp.woff2') format('woff2'),
        url('AJensonPro-LtDisp.woff') format('woff'),
        url('AJensonPro-LtDisp.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtIt.eot');
    src: local('Adobe Jenson Pro Light Italic'), local('AJensonPro-LtIt'),
        url('AJensonPro-LtIt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtIt.woff2') format('woff2'),
        url('AJensonPro-LtIt.woff') format('woff'),
        url('AJensonPro-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Semibold.eot');
    src: local('Adobe Jenson Pro Semibold'), local('AJensonPro-Semibold'),
        url('AJensonPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Semibold.woff2') format('woff2'),
        url('AJensonPro-Semibold.woff') format('woff'),
        url('AJensonPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-SemiboldItDisp.eot');
    src: local('Adobe Jenson Pro Semibold Italic Display'), local('AJensonPro-SemiboldItDisp'),
        url('AJensonPro-SemiboldItDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-SemiboldItDisp.woff2') format('woff2'),
        url('AJensonPro-SemiboldItDisp.woff') format('woff'),
        url('AJensonPro-SemiboldItDisp.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-ItSubh.eot');
    src: local('Adobe Jenson Pro Italic Subhead'), local('AJensonPro-ItSubh'),
        url('AJensonPro-ItSubh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-ItSubh.woff2') format('woff2'),
        url('AJensonPro-ItSubh.woff') format('woff'),
        url('AJensonPro-ItSubh.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtItDisp.eot');
    src: local('Adobe Jenson Pro Light Italic Display'), local('AJensonPro-LtItDisp'),
        url('AJensonPro-LtItDisp.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtItDisp.woff2') format('woff2'),
        url('AJensonPro-LtItDisp.woff') format('woff'),
        url('AJensonPro-LtItDisp.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-SemiboldCapt.eot');
    src: local('Adobe Jenson Pro Semibold Caption'), local('AJensonPro-SemiboldCapt'),
        url('AJensonPro-SemiboldCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-SemiboldCapt.woff2') format('woff2'),
        url('AJensonPro-SemiboldCapt.woff') format('woff'),
        url('AJensonPro-SemiboldCapt.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-SemiboldItCapt.eot');
    src: local('Adobe Jenson Pro Semibold Italic Caption'), local('AJensonPro-SemiboldItCapt'),
        url('AJensonPro-SemiboldItCapt.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-SemiboldItCapt.woff2') format('woff2'),
        url('AJensonPro-SemiboldItCapt.woff') format('woff'),
        url('AJensonPro-SemiboldItCapt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtItSubh.eot');
    src: local('Adobe Jenson Pro Light Italic Subhead'), local('AJensonPro-LtItSubh'),
        url('AJensonPro-LtItSubh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtItSubh.woff2') format('woff2'),
        url('AJensonPro-LtItSubh.woff') format('woff'),
        url('AJensonPro-LtItSubh.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-LtSubh.eot');
    src: local('Adobe Jenson Pro Light Subhead'), local('AJensonPro-LtSubh'),
        url('AJensonPro-LtSubh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-LtSubh.woff2') format('woff2'),
        url('AJensonPro-LtSubh.woff') format('woff'),
        url('AJensonPro-LtSubh.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Jenson Pro';
    src: url('AJensonPro-Subh.eot');
    src: local('Adobe Jenson Pro Subhead'), local('AJensonPro-Subh'),
        url('AJensonPro-Subh.eot?#iefix') format('embedded-opentype'),
        url('AJensonPro-Subh.woff2') format('woff2'),
        url('AJensonPro-Subh.woff') format('woff'),
        url('AJensonPro-Subh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

